.buttonBgColor{
    background-color: #3d6542;
}
.primaryColor{
  background-color: #3d6542;
    color: #ffffff;
}
.secondaryColor{
    color: #428576;
}
.borderPrimaryColor{
    border-color: #27412a;
}